
How i hid the api keys: https://towardsdatascience.com/how-to-hide-your-api-keys-in-python-fb2e1a61b0a0

path to deactivate ~/etc/conda/deactivate.d
path to activate ~/etc/conda/activate.d
Sentiment analysis: https://medium.com/citrispolicylab/a-simple-guide-to-scrape-tweets-using-python-ba7c691b6efa
